body {
  background-color: #5176A9;
  font-size: 20px;
  color: black;
}

.jumbotron {
  background-color: #636971;
  color: white;
  margin-top: 60px;
  margin-right: 60px;
  margin-left: 60px;
  border: 5px solid black;
  box-shadow: 5px 5px 15px black;
  text-align: center;
}

#hero {
  border: 3px solid black;
}

#ruby, #design, #java {
  display: none;
  margin-right: 80px;
  margin-left: 80px;
}

form {
  margin-bottom: 20px;
  margin-right: 80px;
  margin-left: 80px;
}

.btn {
  margin-top: 20px;
}
